## Part 1

For our research we will be working with the states of America because they are a great example of different laws towards cannabis and provide wide range of different datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn import metrics
from sklearn import tree
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA, FactorAnalysis
from sklearn.feature_selection import VarianceThreshold
from sklearn.ensemble import RandomForestClassifier
from mlxtend.feature_selection import SequentialFeatureSelector
from io import StringIO

import time
import re
import random
import copy
import sys

Please note, that for example NaN value in Medical marijuana legalized doesn't necessarily mean it's is completely forbidden in a state, it could have some uniquely limited access to it.<br>
Also if marijuana legalized for recreational use it automatically means that medical marijuana is legalized.

In [2]:
data_laws = pd.read_csv("state_marijuana_laws_10_2016.csv")#State laws 2016
#comment the line below to get unshuffled dataframe
data_laws = data_laws.sample(frac=1)
data_laws

,State,Medical marijuana legalized,Marijuana legalized for recreational use,No laws legalizing marijuana
32,South Dakota,NaN,NaN,Yes
29,Ohio,NaN,NaN,Yes
11,Montana,Yes,NaN,NaN
23,Kansas,NaN,NaN,Yes
35,Utah,NaN,NaN,Yes
44,Massachusetts,NaN,Yes,NaN
2,Rhode Island,Yes,NaN,NaN
43,Maine,NaN,Yes,NaN
5,Delaware,Yes,NaN,NaN
34,Texas,NaN,NaN,Yes
45,Michigan,NaN,Yes,NaN
10,Minnesota,Yes,NaN,NaN
41,California,NaN,Yes,NaN
19,Georgia,NaN,NaN,Yes
49,Washington,NaN,Yes,NaN
24,Kentucky,NaN,NaN,Yes
28,North Carolina,NaN,NaN,Yes
8,Louisiana,Yes,NaN,NaN
20,Idaho,NaN,NaN,Yes
16,North Dakota,Yes,NaN,NaN
30,Oklahoma,NaN,NaN,Yes
12,New Hampshire,Yes,NaN,NaN
46,Nevada,NaN,Yes,NaN
22,Iowa,NaN,NaN,Yes
14,New Mexico,Yes,NaN,NaN
21,Indiana,NaN,NaN,Yes
0,Connecticut,Yes,NaN,NaN
25,Mississippi,NaN,NaN,Yes
1,Hawaii,Yes,NaN,NaN
3,Arizona,Yes,NaN,NaN
26,Missouri,NaN,NaN,Yes
15,New York,Yes,NaN,NaN
6,Florida,Yes,NaN,NaN
39,Wyoming,NaN,NaN,Yes
4,Arkansas,Yes,NaN,NaN
31,South Carolina,NaN,NaN,Yes
33,Tennessee,NaN,NaN,Yes
40,Alaska,NaN,Yes,NaN
42,Colorado,NaN,Yes,NaN
37,West Virginia,NaN,NaN,Yes
27,Nebraska,NaN,NaN,Yes
13,New Jersey,Yes,NaN,NaN
47,Oregon,NaN,Yes,NaN
18,Alabama,NaN,NaN,Yes
7,Illinois,Yes,NaN,NaN
36,Virginia,NaN,NaN,Yes
17,Pennsylvania,Yes,NaN,NaN
48,Vermont,NaN,Yes,NaN
9,Maryland,Yes,NaN,NaN
38,Wisconsin,NaN,NaN,Yes

Since this way of presenting data is unacceptable we will replace NaN values with 0 and `Yes` with 1.

In [3]:
data_laws.fillna(0, inplace=True)
data_laws.replace('Yes',1, inplace=True)
data_laws.head(6)

,State,Medical marijuana legalized,Marijuana legalized for recreational use,No laws legalizing marijuana
32,South Dakota,0,0,1
29,Ohio,0,0,1
11,Montana,1,0,0
23,Kansas,0,0,1
35,Utah,0,0,1
44,Massachusetts,0,1,0

In [4]:
data_laws.set_index('State',inplace=True)
data_laws = data_laws[data_laws==1].stack().reset_index().drop(0,1)
data_laws.rename(columns={'level_1': 'Marijuana laws status'}, inplace=True)
data_laws.head(6)

           State                     Marijuana laws status
0   South Dakota              No laws legalizing marijuana
1           Ohio              No laws legalizing marijuana
2        Montana               Medical marijuana legalized
3         Kansas              No laws legalizing marijuana
4           Utah              No laws legalizing marijuana
5  Massachusetts  Marijuana legalized for recreational use

Column with only integers<br>
0 - No laws legalizing marijuana<br>
1 - Medical marijuana legalized<br>
2 - Marijuana legalized for recreational use<br>
Uncomment row below to get integer values, but for now we will work with string

In [5]:
#data_laws.replace({"No laws legalizing marijuana": 0, "Medical marijuana legalized": 1, "Marijuana legalized for recreational use": 2}, inplace=True)

In [6]:
data_laws

             State                     Marijuana laws status
0     South Dakota              No laws legalizing marijuana
1             Ohio              No laws legalizing marijuana
2          Montana               Medical marijuana legalized
3           Kansas              No laws legalizing marijuana
4             Utah              No laws legalizing marijuana
5    Massachusetts  Marijuana legalized for recreational use
6     Rhode Island               Medical marijuana legalized
7            Maine  Marijuana legalized for recreational use
8         Delaware               Medical marijuana legalized
9            Texas              No laws legalizing marijuana
10        Michigan  Marijuana legalized for recreational use
11       Minnesota               Medical marijuana legalized
12      California  Marijuana legalized for recreational use
13         Georgia              No laws legalizing marijuana
14      Washington  Marijuana legalized for recreational use
15        Kentucky              No laws legalizing marijuana
16  North Carolina              No laws legalizing marijuana
17       Louisiana               Medical marijuana legalized
18           Idaho              No laws legalizing marijuana
19    North Dakota               Medical marijuana legalized
20        Oklahoma              No laws legalizing marijuana
21   New Hampshire               Medical marijuana legalized
22          Nevada  Marijuana legalized for recreational use
23            Iowa              No laws legalizing marijuana
24      New Mexico               Medical marijuana legalized
25         Indiana              No laws legalizing marijuana
26     Connecticut               Medical marijuana legalized
27     Mississippi              No laws legalizing marijuana
28          Hawaii               Medical marijuana legalized
29         Arizona               Medical marijuana legalized
30        Missouri              No laws legalizing marijuana
31        New York               Medical marijuana legalized
32         Florida               Medical marijuana legalized
33         Wyoming              No laws legalizing marijuana
34        Arkansas               Medical marijuana legalized
35  South Carolina              No laws legalizing marijuana
36       Tennessee              No laws legalizing marijuana
37          Alaska  Marijuana legalized for recreational use
38        Colorado  Marijuana legalized for recreational use
39   West Virginia              No laws legalizing marijuana
40        Nebraska              No laws legalizing marijuana
41      New Jersey               Medical marijuana legalized
42          Oregon  Marijuana legalized for recreational use
43         Alabama              No laws legalizing marijuana
44        Illinois               Medical marijuana legalized
45        Virginia              No laws legalizing marijuana
46    Pennsylvania               Medical marijuana legalized
47         Vermont  Marijuana legalized for recreational use
48        Maryland               Medical marijuana legalized
49       Wisconsin              No laws legalizing marijuana

Now that we know the laws of each state lets move on to marijuana usage.

## Part 2

We will have 3 different datasets that contain info about cannabis usage in states, regions and whole country of USA.<br>
We are going to analyze the data in them to see how much legalization effects percentage of people who smoke cannabis, how it depends on age, how much different is the result comparing to other bad habitats and so on.
All of the datasets below use the data given by NSDUH(National Survey on Drug Use and Health) so there is no need to compare them.

In [7]:
data_regions = pd.read_csv("marijuana-use-2016.csv")
data_regions.head(6)

,Region,Year,Age Range,Marijuana Use,Measure Type,Variable,Value
0,Connecticut,2004-2006,12-17,First Use of Marijuana,Percent,Margins of Error,0.91
1,Connecticut,2004-2006,12-17,First Use of Marijuana,Percent,Marijuana Use,7.62
2,Connecticut,2004-2006,12-17,Marijuana Use in the Past Month,Percent,Margins of Error,1.38
3,Connecticut,2004-2006,12-17,Marijuana Use in the Past Month,Percent,Marijuana Use,8.39
4,Connecticut,2004-2006,12-17,Marijuana Use in the Past Year,Percent,Margins of Error,1.88
5,Connecticut,2004-2006,12-17,Marijuana Use in the Past Year,Percent,Marijuana Use,17.79

This dataset contains info on marijuana usage in diiferent regions of America and is devided by years and age group.<br>
As we can see every row is duplicated twice except of two last columns that differ<br>
We will join them to improve quality of our dataset and then move on for now.

In [8]:
data_regions["Margins of Error"] = np.nan
data_regions["Marijuana Usege (times per last year)"] = np.nan
for i in range(int(len(data_regions) / 2)):
    to_merge = data_regions.loc[(data_regions['Region'] == data_regions['Region'].iloc[i]) & 
                     (data_regions['Year'] == data_regions['Year'].iloc[i]) & 
                     (data_regions['Age Range'] == data_regions['Age Range'].iloc[i]) & 
                     (data_regions['Marijuana Use'] == data_regions['Marijuana Use'].iloc[i])]
    data_regions["Margins of Error"].iloc[i] = to_merge.loc[data_regions["Variable"] == "Margins of Error"].iloc[0]["Value"]
    data_regions["Marijuana Usege (times per last year)"].iloc[i] = to_merge.loc[data_regions["Variable"] == "Marijuana Use"].iloc[0]["Value"]
    #data_regions["Margins of Error"].iloc[i].fillna(to_merge.loc[data_regions["Variable"] == "Margins of Error"].iloc[0]["Value"], inplace=True)
    #data_regions["Marijuana Usege (times per last year)"].iloc[i].fillna(to_merge.loc[data_regions["Variable"] == "Marijuana Use"]["Value"], inplace=True)
    data_regions = data_regions.drop(data_regions.index[i + 1])
    
del data_regions["Measure Type"]
del data_regions["Variable"]
del data_regions["Value"]

/home/roman/miniconda3/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
data_regions.head(6)

,Region,Year,Age Range,Marijuana Use,Margins of Error,Marijuana Usege (times per last year)
0,Connecticut,2004-2006,12-17,First Use of Marijuana,0.91,7.62
2,Connecticut,2004-2006,12-17,Marijuana Use in the Past Month,1.38,8.39
4,Connecticut,2004-2006,12-17,Marijuana Use in the Past Year,1.88,17.79
6,Connecticut,2004-2006,18-25,First Use of Marijuana,1.49,8.33
8,Connecticut,2004-2006,18-25,Marijuana Use in the Past Month,2.62,23.34
10,Connecticut,2004-2006,18-25,Marijuana Use in the Past Year,3.08,37.72

Our next dataset is actually a set of smaller datasets<br>
They contain number(in thousands) of uses of particular type(every type in another dataset, for example dataset of `First Use of Marijuana, by Age Group and State: Average Annual Number of Marijuana Initiates (Expressed as Numbers in Thousands of the At-Risk Population), Based on 2015 and 2016 NSDUHs`)<br>
Theu use have 95 percent confidence intervals with small margins of error so we will drop the 95% Confidence Interval Lower and Upper.
Also there  is documantation on a dataset which you can read in first few rows of it but will skip for our dataframe.

Marijuana Use in the Past Year, by Age Group and State: Estimated Numbers (in Thousands), Annual Averages Based on 2015 and 2016 NSDUHs

In [35]:
data2 = pd.read_csv("NSDUH_Totals2016/NSDUHsaeTotals-Tab02-2016.csv")
data2.columns = data2.iloc[4]
data2 = data2[5:]
data2.head(6)

4,Order,State,12 or Older Estimate,12 or Older 95% CI (Lower),12 or Older 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI (Lower),18 or Older 95% CI (Upper)
5,1,Total U.S.,"36,806","36,047","37,580","3,060","2,951","3,171","11,323","11,077","11,573","22,424","21,784","23,079","33,747","32,998","34,510"
6,2,Northeast,"7,094","6,802","7,400",509,475,545,"2,279","2,192","2,366","4,306","4,040","4,588","6,585","6,296","6,886"
7,3,Midwest,"7,405","7,115","7,703",676,638,717,"2,342","2,265","2,421","4,386","4,122","4,665","6,729","6,443","7,023"
8,4,South,"11,860","11,417","12,317","1,070","1,014","1,128","3,824","3,706","3,944","6,967","6,559","7,397","10,791","10,354","11,243"
9,5,West,"10,447","10,040","10,867",804,753,859,"2,878","2,769","2,990","6,764","6,388","7,158","9,642","9,240","10,059"
10,6,Alabama,386,335,444,38,31,47,135,118,154,212,171,262,348,299,404

In [11]:
to_del = [col for col in data2.columns if ("(Lower)" in col or "(Upper)" in col)]
to_del.append("Order")
for i in to_del:
    del data2[i]

In [12]:
data2

4,State,12 or Older Estimate,12-17 Estimate,18-25 Estimate,26 or Older Estimate,18 or Older Estimate
5,Total U.S.,"36,806","3,060","11,323","22,424","33,747"
6,Northeast,"7,094",509,"2,279","4,306","6,585"
7,Midwest,"7,405",676,"2,342","4,386","6,729"
8,South,"11,860","1,070","3,824","6,967","10,791"
9,West,"10,447",804,"2,878","6,764","9,642"
10,Alabama,386,38,135,212,348
11,Alaska,134,11,34,89,123
12,Arizona,696,65,214,417,631
13,Arkansas,274,25,83,166,249
14,California,"5,296",402,"1,495","3,399","4,894"
15,Colorado,"1,057",68,284,705,988
16,Connecticut,461,39,169,252,421
17,Delaware,105,10,35,61,95
18,District of Columbia,143,4,48,91,138
19,Florida,"2,275",179,664,"1,432","2,096"
20,Georgia,"1,048",93,338,617,955
21,Hawaii,151,13,38,100,138
22,Idaho,158,17,44,97,141
23,Illinois,"1,320",121,447,753,"1,199"
24,Indiana,733,73,226,435,661
25,Iowa,254,25,96,133,228
26,Kansas,265,30,88,147,235
27,Kentucky,470,42,139,290,428
28,Louisiana,429,37,142,250,392
29,Maine,228,15,52,161,213
30,Maryland,779,63,259,457,716
31,Massachusetts,"1,088",70,345,672,"1,017"
32,Michigan,"1,317",112,384,821,"1,205"
33,Minnesota,592,55,184,354,538
34,Mississippi,231,24,78,130,207
35,Missouri,668,59,211,398,609
36,Montana,160,13,42,105,147
37,Nebraska,176,17,64,95,159
38,Nevada,319,33,84,202,286
39,New Hampshire,202,14,58,130,188
40,New Jersey,907,75,315,517,832
41,New Mexico,272,25,73,173,247
42,New York,"2,491",175,812,"1,503","2,316"
43,North Carolina,996,85,321,589,910
44,North Dakota,61,6,25,29,54
45,Ohio,"1,344",109,403,832,"1,235"
46,Oklahoma,357,35,114,208,322
47,Oregon,783,51,184,548,732
48,Pennsylvania,"1,415",101,436,877,"1,314"
49,Rhode Island,184,13,54,117,171
50,South Carolina,448,41,152,255,407
51,South Dakota,83,8,25,50,75
52,Tennessee,709,60,207,442,649
53,Texas,"2,264",251,784,"1,229","2,013"
54,Utah,229,28,84,116,201
55,Vermont,118,7,36,76,112
56,Virginia,768,66,274,429,702
57,Washington,"1,140",72,284,784,"1,068"
58,West Virginia,179,16,52,111,163
59,Wisconsin,592,62,191,339,530
60,Wyoming,51,6,17,29,46

Marijuana Use in the Past Month, by Age Group and State: Estimated Numbers (in Thousands), Annual Averages Based on 2015 and 2016 NSDUHs

In [13]:
data3 = pd.read_csv("NSDUH_Totals2016/NSDUHsaeTotals-Tab03-2016.csv")
data3.columns = data3.iloc[4]
data3 = data3[5:]
data3.head(5)

4,Order,State,12 or Older Estimate,12 or Older 95% CI (Lower),12 or Older 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI (Lower),18 or Older 95% CI (Upper)
5,1,Total U.S.,"36,806","36,047","37,580","3,060","2,951","3,171","11,323","11,077","11,573","22,424","21,784","23,079","33,747","32,998","34,510"
6,2,Northeast,"7,094","6,802","7,400",509,475,545,"2,279","2,192","2,366","4,306","4,040","4,588","6,585","6,296","6,886"
7,3,Midwest,"7,405","7,115","7,703",676,638,717,"2,342","2,265","2,421","4,386","4,122","4,665","6,729","6,443","7,023"
8,4,South,"11,860","11,417","12,317","1,070","1,014","1,128","3,824","3,706","3,944","6,967","6,559","7,397","10,791","10,354","11,243"
9,5,West,"10,447","10,040","10,867",804,753,859,"2,878","2,769","2,990","6,764","6,388","7,158","9,642","9,240","10,059"

 Perceptions of Great Risk from Smoking Marijuana Once a Month, by Age Group and State: Estimated Numbers (in Thousands), Annual Averages Based on 2015 and 2016 NSDUHs

In [14]:
data4 = pd.read_csv("NSDUH_Totals2016/NSDUHsaeTotals-Tab04-2016.csv")
data4.columns = data4.iloc[4]
data4 = data4[5:]
data4.head(5)

4,Order,State,12 or Older Estimate,12 or Older 95% CI (Lower),12 or Older 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI (Lower),18 or Older 95% CI (Upper)
5,1,Total U.S.,"36,806","36,047","37,580","3,060","2,951","3,171","11,323","11,077","11,573","22,424","21,784","23,079","33,747","32,998","34,510"
6,2,Northeast,"7,094","6,802","7,400",509,475,545,"2,279","2,192","2,366","4,306","4,040","4,588","6,585","6,296","6,886"
7,3,Midwest,"7,405","7,115","7,703",676,638,717,"2,342","2,265","2,421","4,386","4,122","4,665","6,729","6,443","7,023"
8,4,South,"11,860","11,417","12,317","1,070","1,014","1,128","3,824","3,706","3,944","6,967","6,559","7,397","10,791","10,354","11,243"
9,5,West,"10,447","10,040","10,867",804,753,859,"2,878","2,769","2,990","6,764","6,388","7,158","9,642","9,240","10,059"

First Use of Marijuana, by Age Group and State: Average Annual Number of Marijuana Initiates (Expressed as Numbers in Thousands of the At-Risk Population), Based on 2015 and 2016 NSDUHs

In [15]:
data5 = pd.read_csv("NSDUH_Totals2016/NSDUHsaeTotals-Tab05-2016.csv")
data5.columns = data5.iloc[5]
data5 = data5[6:]
data5.head(5)

5,Order,State,12 or Older Estimate,12 or Older 95% CI (Lower),12 or Older 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI (Lower),18 or Older 95% CI (Upper)
6,1,Total U.S.,"3,002","2,894","3,113","1,169","1,122","1,219","1,392","1,322","1,466",440,387,502,"1,833","1,737","1,933"
7,2,Northeast,543,507,581,197,182,213,261,239,285,85,68,105,346,316,379
8,3,Midwest,648,611,688,251,236,268,311,288,336,86,70,105,397,366,431
9,4,South,"1,037",978,"1,099",426,402,452,479,445,516,131,107,160,610,562,662
10,5,West,774,723,830,295,273,319,340,310,373,139,113,170,479,436,527

This dataset has data based on all US states but for all ages<br>
*-use - percentage of those in an age group who used * in the past 12 months
*-frequency - median number of times a user in an age group used * in the past 12 months

In [16]:
data_all_uses = pd.read_csv("drug-use-by-age.csv")#Bad habitats by age 2015
data_all_uses

,age,n,alcohol-use,alcohol-frequency,marijuana-use,marijuana-frequency,cocaine-use,cocaine-frequency,crack-use,crack-frequency,...,oxycontin-use,oxycontin-frequency,tranquilizer-use,tranquilizer-frequency,stimulant-use,stimulant-frequency,meth-use,meth-frequency,sedative-use,sedative-frequency
0,12,2798,3.9,3.0,1.1,4.0,0.1,5.0,0.0,-,...,0.1,24.5,0.2,52.0,0.2,2.0,0.0,-,0.2,13.0
1,13,2757,8.5,6.0,3.4,15.0,0.1,1.0,0.0,3.0,...,0.1,41.0,0.3,25.5,0.3,4.0,0.1,5.0,0.1,19.0
2,14,2792,18.1,5.0,8.7,24.0,0.1,5.5,0.0,-,...,0.4,4.5,0.9,5.0,0.8,12.0,0.1,24.0,0.2,16.5
3,15,2956,29.2,6.0,14.5,25.0,0.5,4.0,0.1,9.5,...,0.8,3.0,2.0,4.5,1.5,6.0,0.3,10.5,0.4,30.0
4,16,3058,40.1,10.0,22.5,30.0,1.0,7.0,0.0,1.0,...,1.1,4.0,2.4,11.0,1.8,9.5,0.3,36.0,0.2,3.0
5,17,3038,49.3,13.0,28.0,36.0,2.0,5.0,0.1,21.0,...,1.4,6.0,3.5,7.0,2.8,9.0,0.6,48.0,0.5,6.5
6,18,2469,58.7,24.0,33.7,52.0,3.2,5.0,0.4,10.0,...,1.7,7.0,4.9,12.0,3.0,8.0,0.5,12.0,0.4,10.0
7,19,2223,64.6,36.0,33.4,60.0,4.1,5.5,0.5,2.0,...,1.5,7.5,4.2,4.5,3.3,6.0,0.4,105.0,0.3,6.0
8,20,2271,69.7,48.0,34.0,60.0,4.9,8.0,0.6,5.0,...,1.7,12.0,5.4,10.0,4.0,12.0,0.9,12.0,0.5,4.0
9,21,2354,83.2,52.0,33.0,52.0,4.8,5.0,0.5,17.0,...,1.3,13.5,3.9,7.0,4.1,10.0,0.6,2.0,0.3,9.0
10,22-23,4707,84.2,52.0,28.4,52.0,4.5,5.0,0.5,5.0,...,1.7,17.5,4.4,12.0,3.6,10.0,0.6,46.0,0.2,52.0
11,24-25,4591,83.1,52.0,24.9,60.0,4.0,6.0,0.5,6.0,...,1.3,20.0,4.3,10.0,2.6,10.0,0.7,21.0,0.2,17.5
12,26-29,2628,80.7,52.0,20.8,52.0,3.2,5.0,0.4,6.0,...,1.2,13.5,4.2,10.0,2.3,7.0,0.6,30.0,0.4,4.0
13,30-34,2864,77.5,52.0,16.4,72.0,2.1,8.0,0.5,15.0,...,0.9,46.0,3.6,8.0,1.4,12.0,0.4,54.0,0.4,10.0
14,35-49,7391,75.0,52.0,10.4,48.0,1.5,15.0,0.5,48.0,...,0.3,12.0,1.9,6.0,0.6,24.0,0.2,104.0,0.3,10.0
15,50-64,3923,67.2,52.0,7.3,52.0,0.9,36.0,0.4,62.0,...,0.4,5.0,1.4,10.0,0.3,24.0,0.2,30.0,0.2,104.0
16,65+,2448,49.3,52.0,1.2,36.0,0.0,-,0.0,-,...,0.0,-,0.2,5.0,0.0,364.0,0.0,-,0.0,15.0

Now let's vizualize some of the date we've got now and than analyze it.

# *VISUALIZATION WILL BE HERE*

We can also compare the usage of cannabis in US with the rest of the world by using following datasets<br>
Column `VALUE` tells us the percentage out of 100% of this particular age, gender and country who[]
Column `SIGNIF_GENDER` tells us whether difference in value is significant or not

In [17]:
data_eu1 = pd.read_csv("european_countries/HBSC_26_EN.csv")#15y.o., 2014
data_eu1 = data_eu1[:-5]

In [18]:
#data_eu1

HBSC Members are all the countries provided in the dataset.<br>
Column `COUNTRY_GRP`(Country Group) is almost empty except last 3 entries so we will drop it and replace values of column `COUNTRY` for those 3 rows to HBSC_MEMBER

In [19]:
data_eu1["COUNTRY"][-3:].replace(np.nan, "HBSC_MEMBER", inplace=True)
del data_eu1["COUNTRY_GRP"]
data_eu1 = data_eu1[:-1]

In [20]:
print(data_eu1["AGE_GRP_2"].unique())
print(data_eu1["YEAR"].unique())
del data_eu1["AGE_GRP_2"]
del data_eu1["YEAR"]

['15YO']
[2014.]

Since columns `AGE_GRP_2` and `YEAR` have always the same value we will drop them<br>
We will also put gender as a column and it's percentage as value of this column

In [21]:
data_eu1["FEMALE_VALUE"] = np.nan
data_eu1["MALE_VALUE"] = np.nan
for i in range(int(len(data_eu1) / 2)):
    to_merge = data_eu1.loc[(data_eu1['COUNTRY'] == data_eu1['COUNTRY'].iloc[i])]
    data_eu1["FEMALE_VALUE"].iloc[i] = to_merge.loc[data_eu1["SEX"] == "FEMALE"].iloc[0]["VALUE"]
    data_eu1["MALE_VALUE"].iloc[i] = to_merge.loc[data_eu1["SEX"] == "MALE"].iloc[0]["VALUE"]
    data_eu1 = data_eu1.drop(data_eu1.index[i + 1])
    
del data_eu1["SEX"]
del data_eu1["VALUE"]
data_eu1["SIGNIF_GENDER"].iloc[-1] = "SIGNIF"

/home/roman/miniconda3/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [22]:
data_eu1

        COUNTRY SIGNIF_GENDER  FEMALE_VALUE  MALE_VALUE
0           UKR        SIGNIF           1.0         3.0
2           SWE        SIGNIF           1.0         2.0
4           SVN     NOTSIGNIF           2.0         3.0
6           RUS     NOTSIGNIF           4.0         3.0
8           ROU        SIGNIF           1.0         4.0
10          PRT     NOTSIGNIF           2.0         4.0
12          POL     NOTSIGNIF           4.0         5.0
14          NLD     NOTSIGNIF           3.0         4.0
16          MLT     NOTSIGNIF           3.0         3.0
18          MDA        SIGNIF           0.0         1.0
20          LVA     NOTSIGNIF           4.0         5.0
22          LUX     NOTSIGNIF           4.0         7.0
24          LTU        SIGNIF           1.0         4.0
26          ITA     NOTSIGNIF           1.0         3.0
28          ISR     NOTSIGNIF           1.0         3.0
30          ISL        SIGNIF           1.0         3.0
32          IRL     NOTSIGNIF           3.0         3.0
34          HUN     NOTSIGNIF           3.0         1.0
36          HRV        SIGNIF           2.0         6.0
38          GRC        SIGNIF           0.0         2.0
40       GB-WLS     NOTSIGNIF           2.0         4.0
42       GB-SCT        SIGNIF           3.0         7.0
44       GB-ENG     NOTSIGNIF           3.0         5.0
46          FRA     NOTSIGNIF           4.0         6.0
48          FIN        SIGNIF           1.0         3.0
50          EST        SIGNIF           4.0         7.0
52          ESP        SIGNIF           2.0         3.0
54          DNK        SIGNIF           1.0         3.0
56          DEU     NOTSIGNIF           3.0         4.0
58          CZE     NOTSIGNIF           6.0         7.0
60          CHE        SIGNIF           2.0         7.0
62          CAN     NOTSIGNIF           7.0         8.0
64          BGR     NOTSIGNIF           4.0         7.0
66       BE-WAL     NOTSIGNIF           3.0         5.0
68       BE-VLG        SIGNIF           0.0         3.0
70          AUT        SIGNIF           0.0         3.0
72          ARM     NOTSIGNIF           1.0         3.0
74          ALB        SIGNIF           0.0         3.0
76  HBSC_MEMBER        SIGNIF           3.0         4.0

## Part 3

In [36]:
data_sales = pd.read_csv("marijuana_gross_sales.csv")#Permitted Medical Cannabis Dispensaries 
data_sales["Medical Total Gross Sales"] = np.nan
data_sales["Retail Total Gross Sales"] = np.nan
for i in range(int(len(data_sales) / 2)):
    to_merge = data_sales.loc[(data_sales['YEAR'] == data_sales['YEAR'].iloc[i]) & (data_sales['MONTH'] == data_sales['MONTH'].iloc[i])]
    data_sales["Medical Total Gross Sales"].iloc[i] = to_merge.loc[data_sales["GROSS_SALES_TYPE"] == "Medical Total Gross Sales"].iloc[0]["GROSS_SALES"]
    data_sales["Retail Total Gross Sales"].iloc[i] = to_merge.loc[data_sales["GROSS_SALES_TYPE"] == "Retail Total Gross Sales"].iloc[0]["GROSS_SALES"]
    data_sales = data_sales.drop(data_sales.index[i + 1])
    
del data_sales["GROSS_SALES_TYPE"]
del data_sales["GROSS_SALES"]
data_sales

/home/roman/miniconda3/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

    YEAR      MONTH  Medical Total Gross Sales  Retail Total Gross Sales
0   2017  SEPTEMBER                18314027.40               34950895.10
2   2017  AUGUST                   19043315.07               35240979.02
4   2017  JULY                     17922958.90               34815762.24
6   2017  JUNE                     17615041.10               31908811.19
8   2017  MAY                      18276904.11               30671594.41
10  2017  APRIL                    19070684.93               30302993.01
12  2017  MARCH                    18130410.96               30670923.08
14  2017  FEBRUARY                 14533972.60               25352587.41
16  2017  JANUARY                  15455178.08               25754881.12
18  2016  DECEMBER                 15609013.70               27363748.25
20  2016  NOVEMBER                 16058904.11               26068811.19
22  2016  OCTOBER                  17512082.19               28558293.71
24  2016  SEPTEMBER                19501150.68               29369230.77
26  2016  AUGUST                   20509342.47               27735202.80
28  2016  JULY                     19797315.07               26004153.85
30  2016  JUNE                     21808307.69               18451945.21
32  2016  MAY                      18139726.03               21767244.76
34  2016  APRIL                    18241534.25               22636825.17
36  2016  MARCH                    17858438.36               21640895.10
38  2016  FEBRUARY                 15881095.89               19168167.83
40  2016  JANUARY                  15119506.85               19049188.81
42  2015  DECEMBER                 15351917.81               19386601.40
44  2015  NOVEMBER                 14234904.11               17897720.28
46  2015  OCTOBER                  17121397.26               19100461.54
48  2015  SEPTEMBER                18283835.62               20766181.82
50  2015  AUGUST                   19030712.33               20677944.06
52  2015  JULY                     20108191.78               19832895.10
54  2015  JUNE                     15889534.25               17826867.13
56  2015  MAY                      15290602.74               18324209.79
58  2015  APRIL                    15580904.11               19230573.43
60  2015  MARCH                    14906438.36               16893566.43
62  2015  FEBRUARY                 13453945.21               14268307.69
64  2015  JANUARY                  13976219.18               15314377.62
66  2014  DECEMBER                 14854530.39               14423581.46
68  2014  NOVEMBER                 14324116.02               13294943.82
70  2014  OCTOBER                  15528618.78               14561825.84
72  2014  SEPTEMBER                15877734.81               14017191.01
74  2014  AUGUST                   16219530.39               15714662.92
76  2014  JULY                     14165441.99               14176193.82
78  2014  JUNE                     13644944.75               12146250.70
80  2014  MAY                      15075331.49               11028848.17
82  2014  APRIL                    15673149.17               12002513.90
84  2014  MARCH                    16537955.80               10893525.00
86  2014  FEBRUARY                 15021878.45                8591699.44
88  2014  JANUARY                  15462182.32                8490576.55

In [24]:
data_tax = pd.read_csv("marijuana_sales_tax_2015.csv", header=1)
for col in data_tax.columns[1:]:
    data_tax[col] = pd.to_numeric(data_tax[col].apply(lambda x: re.sub(',','',x[1:-2])))
data_tax

,2015,Retail Marijuana Combined Sales Tax Total (Includes Standard Sales Tax Rate and Special 3.5% Retail Sales Tax Rate),Special 3.5% Special Marijuana Retail Sales Tax Rate ONLY,Medical MJ Sales Tax Total
0,January,1094978.0,536003.2,510132.0
1,February,1020184.0,499390.7,491069.0
2,March,1207890.0,591274.8,544085.0
3,April,1374986.0,673070.0,568703.0
4,May,1310181.0,641347.3,558107.0
5,June,1274621.0,623940.3,579968.0
6,July,1418052.0,694151.3,733949.0
7,August,1478473.0,723728.0,694621.0
8,September,1484782.0,726816.3,667360.0
9,October,1365683.0,668516.1,624931.0
10,November,1279687.0,626420.2,519574.0
11,December,1386142.0,678531.0,560345.0

In [25]:
data_revenue = pd.read_csv("tax_revenue2018.csv")
for col in [i for i in data_revenue.columns[1:] if '%' not in i]:
    data_revenue[col] = pd.to_numeric(data_revenue[col].apply(lambda x: re.sub('\.','',x)))
data_revenue

,MONTH,Retail Gross Sales,Retail Special,Retail Sales Tax,Retail Sales Tax Total,Last Year Retail Sales Tax Total,YoY % Retail Sales Tax Total,Medical Gross Sales,Medical Sales Tax,Last year Medical Sales Tax,YoY % Medical Sales Tax,Retail & Medical Sales Tax Total,Last Year Retail & Medical Sales Tax,YoY % Retail & Medical Sales Tax
0,January,29455423,1030945,1075117,2106062,1841552,14.4,14070685,513580,564015,-8.9,2619642,2405567,8.9
1,February,27832113,974130,1015868,1989998,1815650,9.6,12025370,438926,524892,-164.0,2428924,2340542,3.8
2,March,34738044,1215828,1267947,2483775,2199043,12.9,13687233,499584,656681,-23.9,2983359,2855724,4.5
3,April,33977468,1189209,1240183,2429392,2166359,12.1,12842356,468746,692897,-32.3,2898138,2859256,1.4
4,May,31713084,1109954,1157530,2267484,2189671,3.6,12482411,455608,670549,-32.1,2723092,2860220,-4.8
5,June,32757602,1146522,1195649,2342171,2276298,2.9,12220466,446047,648705,-31.2,2788218,2925003,-4.7
6,July,34398616,1203948,1255549,2459497,2467141,-0.3,12471260,455201,654490,-30.4,2914698,3121631,-6.6
7,August,35612280,1246427,1299852,2546279,2519730,1.1,13767123,502500,696146,-27.8,3048779,3215876,-5.2
8,September,34210068,1197342,1248680,2446022,2519035,-2.9,13735260,501337,662939,-24.4,2947359,3181974,-7.4
9,October,32307161,1776895,1179217,2956112,2419056,22.2,12981973,473842,633462,-25.2,3429954,3052518,12.4
10,Total,327001859,12091200,11935592,24026792,26994049,-11.0,130284137,4755371,7532347,-36.9,28782163,34526396,-16.6

In [26]:
# Total Gross Domestic Product for Colorado
data_gdp = pd.read_csv("economy/CONGSP.csv") #Millions of Dollars,Not Seasonally Adjusted
data_gdp.columns = ["Year", "GDP(millions)"]
data_gdp["Year"] = pd.to_numeric(data_gdp["Year"].apply(lambda x: re.sub('-01-01','',x)))
data_gdp

    Year  GDP(millions)
0   1997       136675.3
1   1998       150381.7
2   1999       164226.8
3   2000       180605.5
4   2001       187571.9
5   2002       190962.8
6   2003       196483.7
7   2004       203980.2
8   2005       219907.9
9   2006       231205.9
10  2007       246043.5
11  2008       255566.8
12  2009       248593.6
13  2010       255140.5
14  2011       264431.6
15  2012       273519.5
16  2013       288305.2
17  2014       306362.0
18  2015       317977.9
19  2016       328513.8

In [27]:
# GDP by state and year
data_econ = pd.read_csv("economy/Energy Census and Economic Data US 2010-2014.csv")
left = [col for col in data_econ.iloc[:, 137:162].columns if "Q" not in col]
left = ["StateCodes", "State"] + left
data_econ = data_econ[left]
data_econ

,StateCodes,State,GDP2010,GDP2011,GDP2012,GDP2013,GDP2014
0,AL,Alabama,176220.75,181923.00,187283.25,191605.25,197534.50
1,AK,Alaska,54220.00,59318.25,61613.50,59890.75,58066.75
2,AZ,Arizona,247333.00,255620.50,266130.75,271072.50,281558.75
3,AR,Arkansas,104928.75,109378.25,111541.00,116651.50,121064.75
4,CA,California,1960935.00,2031347.75,2121602.25,2215231.50,2324995.50
5,CO,Colorado,258148.25,266796.25,277646.75,288809.00,305366.75
6,CT,Connecticut,230357.25,232270.75,238322.25,242417.00,250763.75
7,DE,Delaware,57673.75,59763.25,60774.25,61423.75,65484.75
8,FL,Florida,729761.50,735244.25,764645.50,797343.50,835578.50
9,GA,Georgia,407999.00,418916.50,434977.75,450933.50,471879.50
10,HI,Hawaii,67538.50,69689.25,72100.25,74011.75,76424.75
11,ID,Idaho,55420.25,57081.00,58544.75,61110.75,63364.00
12,IL,Illinois,653164.00,679269.00,712604.25,720494.50,742027.75
13,IN,Indiana,283111.50,291889.75,299906.00,310669.25,324289.00
14,IA,Iowa,141382.50,149402.00,159095.75,163495.25,170715.00
15,KS,Kansas,128589.00,137654.25,141600.25,142773.50,146562.00
16,KY,Kentucky,165787.00,172255.25,178209.75,182696.25,188518.00
17,LA,Louisiana,231371.50,236958.25,243308.75,238308.25,245790.75
18,ME,Maine,51304.25,51480.75,52606.00,53299.75,55029.00
19,MD,Maryland,314470.50,323942.50,331423.75,337422.00,350262.50
20,MA,Massachusetts,399270.25,413672.75,432256.25,438640.75,456273.00
21,MI,Michigan,387167.00,401359.75,417328.25,431111.50,447221.25
22,MN,Minnesota,271481.00,284490.75,294728.75,307215.75,320381.25
23,MS,Mississippi,94953.50,96840.25,102082.75,103269.75,104937.50
24,MO,Missouri,255631.25,256996.00,265178.25,274540.50,283280.25
25,MT,Montana,37801.00,40841.25,42137.75,43223.25,44672.25
26,NE,Nebraska,91498.25,99050.25,102163.00,107187.50,110663.25
27,NV,Nevada,119771.00,122744.25,125204.50,126935.50,134052.25
28,NH,New Hampshire,62678.75,64097.50,66012.75,67306.50,70345.25
29,NJ,New Jersey,492990.00,497571.00,518422.50,530091.25,545374.25
30,NM,New Mexico,86194.75,89543.25,90535.25,91344.50,94791.50
31,NY,New York,1208079.25,1231935.75,1299813.50,1335063.50,1385776.25
32,NC,North Carolina,417375.50,428730.75,439332.50,454450.00,474355.25
33,ND,North Dakota,36033.00,42122.75,52197.25,54441.25,58230.00
34,OH,Ohio,494736.25,521870.00,544551.75,558969.00,588827.75
35,OK,Oklahoma,151317.50,165277.50,173911.50,182447.25,190170.50
36,OR,Oregon,191393.00,200267.50,196982.25,197732.75,203328.00
37,PA,Pennsylvania,588275.75,607403.25,626315.50,645382.50,672413.25
38,RI,Rhode Island,49328.75,49931.25,51491.75,52808.50,55098.25
39,SC,South Carolina,165237.00,171152.75,175434.00,180855.75,189655.50
40,SD,South Dakota,38043.75,42453.25,43258.50,44909.50,45600.00
41,TN,Tennessee,254343.00,264957.50,280843.00,289266.25,300015.25
42,TX,Texas,1251494.00,1351048.25,1440819.00,1527158.50,1601976.75
43,UT,Utah,119037.00,125496.50,129012.25,134922.25,140565.00
44,VT,Vermont,26406.50,27564.50,28146.00,28610.75,29661.75
45,VA,Virginia,423505.75,431961.25,444527.50,451877.50,462243.00
46,WA,Washington,362113.50,372286.75,390153.25,402789.00,422766.50
47,WV,West Virginia,66961.00,70891.25,70914.75,72762.50,74432.75
48,WI,Wisconsin,253801.00,263634.75,273879.75,281549.25,293341.25
49,WY,Wyoming,39093.25,41578.00,39909.00,40456.50,40875.50
50,DC,District of Columbia,104044.75,108029.00,109760.00,111816.50,116539.25
51,US,United States,14859772.50,15406000.25,16041239.75,16548795.25,17233140.00

## Part 4

Finally let's look at marijuana legalization support of the whole US country for 1969-2016 years

In [28]:
data_sup = pd.read_csv("legal_marijuana_support.csv")
for col in data_sup.columns[-3:]:
    data_sup[col] = pd.to_numeric(data_sup[col].apply(lambda x: re.sub('%','',x)))
data_sup["Asked_half_sample"].replace("no", 0, inplace=True)
data_sup["Asked_half_sample"].replace("yes", 1, inplace=True)
data_sup

,Year,Month,Asked_half_sample,Yes_Legal,No_Illegal,No_Opinion,Percent_Yes,Percent_No,Percent_No_Opinion
0,2016,Oct,0,60,39,1,60,39,1
1,2015,Oct,0,58,40,2,58,40,2
2,2014,Oct,0,51,47,2,51,47,2
3,2013,Oct,0,58,39,3,58,39,3
4,2012,Nov,0,48,50,1,48,51,1
5,2011,Oct,0,50,46,3,51,46,3
6,2010,Oct,1,46,50,4,46,50,4
7,2009,Oct,1,44,54,2,44,54,2
8,2005,Oct,1,36,60,4,36,60,4
9,2003,Nov,1,34,64,2,34,64,2
10,2001,Aug,0,34,62,4,34,62,4
11,2000,Aug,1,31,64,5,31,64,5
12,1995,Aug,0,25,73,2,25,73,2
13,1985,May,0,23,73,4,23,73,4
14,1980,Jun,0,25,70,5,25,70,5
15,1979,May,0,25,70,5,25,70,5
16,1977,Apr,0,28,66,6,28,66,6
17,1973,Jan,0,16,78,6,16,78,6
18,1972,Mar,0,15,81,4,15,81,4
19,1969,Oct,0,12,84,4,12,84,4

# DONT LOOK FURTHER

In [29]:
data_git = pd.read_csv("crime_marijuana.csv")
data_git

,INCIDENT_ID,FIRST_OCCURENCE_DATE,LAST_OCCURENCE_DATE,REPORTDATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,DISTRICT_ID,PRECINCT_ID,OFFENSE_CODE,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,MJ_RELATION_TYPE,NEIGHBORHOOD_ID
0,201279583,27-FEB-12,27-FEB-12,27-FEB-12,5702 E COLFAX AVE,3162682.0,1694930.0,2,222,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,montclair
1,2012355975,06-AUG-12,06-AUG-12,06-AUG-12,3054 LARIMER ST,3146378.0,1703160.0,2,211,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,five-points
2,2012433617,18-SEP-12,18-SEP-12,18-SEP-12,9206 E HAMPDEN AVE,3174408.0,1662984.0,3,323,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,hampden-south
3,2012378437,18-AUG-12,18-AUG-12,19-AUG-12,5403 N BILLINGS ST,3189349.0,1714135.0,5,512,5707,CRIMINAL TRESPASSING,All Other Crimes,NON-INDUSTRY\r,montbello
4,2012541015,21-NOV-12,21-NOV-12,21-NOV-12,82 S FEDERAL BLVD,3133690.0,1685664.0,4,411,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,valverde
5,2012541366,20-NOV-12,20-NOV-12,21-NOV-12,1201 20TH ST,3142928.0,1699409.0,6,612,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,five-points
6,20129183,06-JAN-12,06-JAN-12,07-JAN-12,1730 E 17TH AVE,3150030.0,1695956.0,6,622,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,city-park-west
7,201278451,25-FEB-12,26-FEB-12,26-FEB-12,1568 S FEDERAL BLVD,3133861.0,1675958.0,4,422,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,ruby-hill
8,2012328377,22-JUL-12,22-JUL-12,22-JUL-12,80 S PENNSYLVANIA ST,3145914.0,1685772.0,3,311,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,speer
9,2012237881,03-JUN-12,03-JUN-12,03-JUN-12,1660 E 40TH AVE,3149731.0,1706807.0,2,211,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,cole
10,2012417600,08-SEP-12,08-SEP-12,08-SEP-12,1499 N BROADWAY ST,3144130.0,1694794.0,6,611,1315,AGGRAVATED ASSAULT,Agg ASLT-Other,NON-INDUSTRY\r,civic-center
11,2012438961,21-SEP-12,21-SEP-12,21-SEP-12,1432 E 22ND AVE,3149025.0,1698231.0,6,622,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,city-park-west
12,2012437272,19-SEP-12,20-SEP-12,20-SEP-12,1853 S LINCOLN ST,3144484.0,1674083.0,3,313,2399,THEFT - OTHER,Larceny,NON-INDUSTRY\r,platt-park
13,2012437293,19-SEP-12,20-SEP-12,20-SEP-12,4773 N FOX ST,3142062.0,1710572.0,1,112,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,globeville
14,2012536019,17-NOV-12,17-NOV-12,17-NOV-12,543 N BRYANT ST,3135294.0,1689181.0,4,411,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,valverde
15,2012231785,30-MAY-12,30-MAY-12,30-MAY-12,2568 S BROADWAY ST,3144350.0,1669345.0,3,313,2205,BURGLARY - BUSINESS NO FORCE,Burglary,INDUSTRY\r,rosedale
16,2012304606,06-JUL-12,09-JUL-12,09-JUL-12,2266 S BROADWAY ST,3144295.0,1671303.0,3,313,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,rosedale
17,2012399023,29-AUG-12,30-AUG-12,30-AUG-12,1172 W VIRGINIA AVE,3140410.0,1682901.0,4,412,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,athmar-park
18,2013134008,24-MAR-13,24-MAR-13,24-MAR-13,2700 BLOCK WELTON ST,3146938.0,1700389.0,2,211,1205,ROBBERY - STREET,Robbery-Street-Res,NON-INDUSTRY\r,five-points
19,201228069,21-JAN-12,21-JAN-12,21-JAN-12,5526 N CRYSTAL WAY,3191252.0,1715041.0,5,512,1205,ROBBERY - STREET,Robbery-Street-Res,NON-INDUSTRY\r,montbello
20,2012483613,16-OCT-12,16-OCT-12,17-OCT-12,2668 W COLLEGE AVE,3135418.0,1668596.0,4,422,2399,THEFT - OTHER,Larceny,NON-INDUSTRY\r,college-view-south-platte
21,2012422999,12-SEP-12,12-SEP-12,12-SEP-12,5885 E EVANS AVE,3163373.0,1672717.0,3,322,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,virginia-village
22,2012561267,04-DEC-12,04-DEC-12,04-DEC-12,2647 W 38TH AVE,3134904.0,1705512.0,1,111,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,sunnyside
23,2013153588,05-APR-13,06-APR-13,06-APR-13,109 W 12TH AVE,3143692.0,1693124.0,6,611,2305,THEFT - ITEMS FROM VEHICLE,Theft from Motor Vehicle,NON-INDUSTRY\r,civic-center
24,2012281352,26-JUN-12,27-JUN-12,27-JUN-12,155 S PECOS ST,3138861.0,1685187.0,4,411,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,valverde
25,2012307051,10-JUL-12,10-JUL-12,11-JUL-12,4040 E 8TH AVE,3157597.0,1690888.0,2,222,3599,DRUG - MAKE/SELL OTHER DRUG,Drug Offenses,NON-INDUSTRY\r,hale
26,2012306260,10-JUL-12,NaN,10-JUL-12,5702 E COLFAX AVE,3162682.0,1694930.0,2,222,2999,CRIMINAL MISCHIEF - OTHER,Criminal Mischief-Property,INDUSTRY\r,montclair
27,2012565390,06-DEC-12,06-DEC-12,06-DEC-12,4620 N PEORIA ST,3183815.0,1709739.0,5,512,2205,BURGLARY - BUSINESS NO FORCE,Burglary,INDUSTRY\r,montbello
28,201285513,02-MAR-12,02-MAR-12,02-MAR-12,3301 E 42ND AVE,3155008.0,1707742.0,2,212,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,elyria-swansea
29,2012318881,17-JUL-12,17-JUL-12,17-JUL-12,970 S ONEIDA ST,3166714.0,1679991.0,3,322,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,washington-virginia-vale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,2013127962,20-MAR-13,20-MAR-13,20-MAR-13,1660 E 40TH AVE,3149731.0,1706807.0,2,211,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,cole
1225,2016678496,22-OCT-16,23-OCT-16,23-OCT-16,1133 N BANNOCK ST,3143321.0,1692796.0,6,611,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,civic-center
1226,2016585447,12-SEP-16,12-SEP-16,12-SEP-16,4935 N YORK ST,3151866.0,1711453.0,2,212,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,elyria-swansea
1227,2012118310,22-MAR-12,23-MAR-12,23-MAR-12,2116 S KALAMATH ST,3140607.0,1672258.0,4,422,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,college-view-south-platte
1228,2016623996,29-SEP-16,29-SEP-16,29-SEP-16,2342 N OGDEN ST,3147833.0,1699054.0,2,211,2204,BURGLARY - RESIDENCE NO FORCE,Burglary,NON-INDUSTRY\r,five-points
1229,2016608985,09-SEP-16,09-SEP-16,22-SEP-16,1798 W MISSISSIPPI AVE,3138325.0,1678939.0,4,422,2399,THEFT - OTHER,Larceny,INDUSTRY\r,ruby-hill
1230,2016688150,13-OCT-16,24-OCT-16,27-OCT-16,1135 S JASON ST,3140880.0,1678789.0,4,422,2399,THEFT - OTHER,Larceny,INDUSTRY\r,ruby-hill
1231,2013321472,12-JUL-13,12-JUL-13,12-JUL-13,2175 S PLATTE RIVER DR,3141117.0,1671873.0,4,422,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,college-view-south-platte
1232,2016605606,21-SEP-16,NaN,21-SEP-16,3000 BLOCK N FIFE CT,3135478.0,1702472.0,1,113,1212,ROBBERY - CAR JACKING,Robbery-Street-Res,NON-INDUSTRY\r,highland
1233,2015288724,26-MAY-15,26-MAY-15,26-MAY-15,1250 5TH ST,3137727.0,1695300.0,1,123,1313,ASSAULT - SIMPLE,Simple Assault,NON-INDUSTRY\r,auraria
1234,2016601396,19-SEP-16,19-SEP-16,19-SEP-16,5569 N JERICHO CT,3210938.0,1716217.0,5,513,1208,ROBBERY - RESIDENCE,Robbery-Street-Res,NON-INDUSTRY\r,gateway-green-valley-ranch
1235,2016606308,21-SEP-16,NaN,21-SEP-16,4975 N VASQUEZ BLVD,3155551.0,1711955.0,2,212,3560,DRUG - MARIJUANA SELL,Drug Offenses,INDUSTRY\r,elyria-swansea
1236,2016606162,21-SEP-16,NaN,21-SEP-16,2675 W 38TH AVE,3134819.0,1705508.0,1,111,3560,DRUG - MARIJUANA SELL,Drug Offenses,INDUSTRY\r,sunnyside
1237,2016646481,09-OCT-16,NaN,09-OCT-16,2830 N HIGH ST,3150589.0,1701287.0,2,211,3563,DRUG - MARIJUANA CULTIVATION,Drug Offenses,NON-INDUSTRY\r,whittier
1238,2016678007,22-OCT-16,22-OCT-16,22-OCT-16,5110 N RACE ST,3150881.0,1712463.0,2,212,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,elyria-swansea
1239,2016646481,09-OCT-16,NaN,09-OCT-16,2830 N HIGH ST,3150589.0,1701287.0,2,211,1315,AGGRAVATED ASSAULT,Agg ASLT-Firearm,NON-INDUSTRY\r,whittier
1240,2016605270,21-SEP-16,21-SEP-16,21-SEP-16,5101 E COLFAX AVE,3160761.0,1695051.0,2,222,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,south-park-hill
1241,2016568628,04-SEP-16,05-SEP-16,05-SEP-16,1626 S SHERIDAN BLVD,3125844.0,1675522.0,4,421,2204,BURGLARY - RESIDENCE NO FORCE,Burglary,NON-INDUSTRY\r,mar-lee
1242,201361302,07-FEB-13,NaN,07-FEB-13,2121 E 16TH AVE,3151424.0,1695536.0,6,622,1313,ASSAULT - SIMPLE,Simple Assault,NON-INDUSTRY\r,city-park-west
1243,2014677313,22-DEC-14,NaN,22-DEC-14,3600 MORRISON RD,3130796.0,1683641.0,4,412,5213,WEAPON- UNLAWFUL DISCHARGE OF,Weapons Offense,NON-INDUSTRY\r,westwood
1244,201342812,27-JAN-13,27-JAN-13,27-JAN-13,5100 W 38TH AVE,3125864.0,1705326.0,1,113,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,west-highland
1245,2013159064,09-APR-13,09-APR-13,09-APR-13,400 S LIPAN ST,3140355.0,1683657.0,4,412,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,athmar-park
1246,2016603620,18-SEP-16,18-SEP-16,20-SEP-16,2863 LARIMER ST,3145609.0,1702627.0,2,211,2503,FORGERY - COUNTERFEIT OF OBJ,All Other Crimes,INDUSTRY\r,five-points
1247,2012177207,29-APR-12,29-APR-12,29-APR-12,1211 S QUEBEC WAY,3168208.0,1678222.0,3,322,2202,BURGLARY - RESIDENCE BY FORCE,Burglary,NON-INDUSTRY\r,washington-virginia-vale
1248,2016693215,29-OCT-16,29-OCT-16,29-OCT-16,4495 N WASHINGTON ST,3146266.0,1708665.0,1,112,2203,BURGLARY - BUSINESS BY FORCE,Burglary,INDUSTRY\r,globeville
1249,2016611035,19-SEP-16,19-SEP-16,23-SEP-16,1178 S KALAMATH ST,3140643.0,1678536.0,4,422,2399,THEFT - OTHER,Larceny,INDUSTRY\r,ruby-hill
1250,2016564626,03-SEP-16,NaN,03-SEP-16,3887 N STEELE ST,3153496.0,1705991.0,2,212,1202,ROBBERY - BUSINESS,Robbery-Business,INDUSTRY\r,clayton
1251,2016648048,08-OCT-16,09-OCT-16,09-OCT-16,324 S LEYDEN ST,3164614.0,1684229.0,3,321,2399,THEFT - OTHER,Larceny,NON-INDUSTRY\r,washington-virginia-vale
1252,2016692084,28-OCT-16,NaN,28-OCT-16,260 N SANTA FE DR,3141128.0,1687684.0,3,311,1202,ROBBERY - BUSINESS,Robbery-Business,INDUSTRY\r,baker
1253,2014677313,22-DEC-14,NaN,22-DEC-14,3600 MORRISON RD,3130796.0,1683641.0,4,412,3560,DRUG - MARIJUANA SELL,Drug Offenses,NON-INDUSTRY\r,westwood

In [30]:
data_git = pd.read_csv("economy/federal_production_CY08-17.csv")
data_git

,Calendar Year,Product,State/Offshore Region,FIPS Code,CPS/Planning Area,Production Volume,Onshore/Offshore,Category
0,2008,Gas (mcf),AK,02122,Kenai Peninsula Borough,"34,097,023",Onshore,Federal
1,2008,Oil (bbl),AK,02122,Kenai Peninsula Borough,"225,208",Onshore,Federal
2,2008,Gas (mcf),AK,02185,North Slope Borough,"5,110",Onshore,Federal
3,2008,Oil (bbl),AK,02185,North Slope Borough,"4,321",Onshore,Federal
4,2008,Gas (mcf),AL,01003,Baldwin County,"61,347",Onshore,Federal
5,2008,Oil (bbl),AL,01003,Baldwin County,10,Onshore,Federal
6,2008,Oil (bbl),AL,01039,Covington County,"33,576",Onshore,Federal
7,2008,Gas (mcf),AL,01053,Escambia County,"2,131",Onshore,Federal
8,2008,Oil (bbl),AL,01053,Escambia County,"9,771",Onshore,Federal
9,2008,Coal (tons),AL,01057,Fayette County,W,Onshore,Federal
10,2008,Gas (mcf),AL,01057,Fayette County,"4,509",Onshore,Federal
11,2008,Coal (tons),AL,01073,Jefferson County,W,Onshore,Federal
12,2008,Gas (mcf),AL,01075,Lamar County,976,Onshore,Federal
13,2008,Oil (bbl),AL,01075,Lamar County,"1,094",Onshore,Federal
14,2008,Gas (mcf),AL,01097,Mobile County,"22,277,408",Onshore,Federal
15,2008,Oil (bbl),AL,01097,Mobile County,10,Onshore,Federal
16,2008,Gas (mcf),AL,01125,Tuscaloosa County,"614,386",Onshore,Federal
17,2008,Gas (mcf),AR,05023,Cleburne County,"7,114",Onshore,Federal
18,2008,Gas (mcf),AR,05027,Columbia County,"4,084",Onshore,Federal
19,2008,Oil (bbl),AR,05027,Columbia County,8,Onshore,Federal
20,2008,Gas (mcf),AR,05029,Conway County,"1,133,510",Onshore,Federal
21,2008,Gas (mcf),AR,05033,Crawford County,"128,826",Onshore,Federal
22,2008,Gas (mcf),AR,05045,Faulkner County,"304,518",Onshore,Federal
23,2008,Gas (mcf),AR,05047,Franklin County,"273,242",Onshore,Federal
24,2008,Wavellite (spcmn),AR,05051,Garland County,W,Onshore,Federal
25,2008,Gas (mcf),AR,05071,Johnson County,"597,934",Onshore,Federal
26,2008,Gas (mcf),AR,05083,Logan County,"2,952,003",Onshore,Federal
27,2008,Quartz Crystal (tickets/pounds),AR,05097,Montgomery County,W,Onshore,Federal
28,2008,Gas (mcf),AR,05115,Pope County,"124,119",Onshore,Federal
29,2008,Gas (mcf),AR,05131,Sebastian County,"4,226,369",Onshore,Federal
...,...,...,...,...,...,...,...,...
7530,2017,Oil (bbl),WY,56025,Natrona County,"4,685,366",Onshore,Federal
7531,2017,Gas (mcf),WY,56027,Niobrara County,"48,422",Onshore,Mixed Exploratory
7532,2017,Gas (mcf),WY,56027,Niobrara County,"657,582",Onshore,Federal
7533,2017,Oil (bbl),WY,56027,Niobrara County,"71,513",Onshore,Mixed Exploratory
7534,2017,Oil (bbl),WY,56027,Niobrara County,"509,118",Onshore,Federal
7535,2017,Gas (mcf),WY,56029,Park County,"189,796",Onshore,Mixed Exploratory
7536,2017,Gas (mcf),WY,56029,Park County,"5,977,231",Onshore,Federal
7537,2017,Oil (bbl),WY,56029,Park County,"451,901",Onshore,Mixed Exploratory
7538,2017,Oil (bbl),WY,56029,Park County,"3,814,996",Onshore,Federal
7539,2017,Gas (mcf),WY,56033,Sheridan County,"598,602",Onshore,Federal
7540,2017,Oil (bbl),WY,56033,Sheridan County,"7,795",Onshore,Federal
7541,2017,Gas (mcf),WY,56035,Sublette County,"894,918,181",Onshore,Federal
7542,2017,Oil (bbl),WY,56035,Sublette County,"5,583,802",Onshore,Federal
7543,2017,Coal (tons),WY,56037,Sweetwater County,"2,523,052",Onshore,Federal
7544,2017,Gas (mcf),WY,56037,Sweetwater County,"1,008,207",Onshore,Mixed Exploratory
7545,2017,Gas (mcf),WY,56037,Sweetwater County,"112,225,692",Onshore,Federal
7546,2017,Oil (bbl),WY,56037,Sweetwater County,"2,314",Onshore,Mixed Exploratory
7547,2017,Oil (bbl),WY,56037,Sweetwater County,"2,355,858",Onshore,Federal
7548,2017,Purge Liquor (tons - equivalent),WY,56037,Sweetwater County,"54,468",Onshore,Federal
7549,2017,Soda Ash (tons),WY,56037,Sweetwater County,"3,711,621",Onshore,Federal
7550,2017,Sodium Bi-Carbonate (tons),WY,56037,Sweetwater County,"65,274",Onshore,Federal
7551,2017,Sodium Sesquicarbonate (tons),WY,56037,Sweetwater County,W,Onshore,Federal
7552,2017,Sulfide (tons),WY,56037,Sweetwater County,W,Onshore,Federal
7553,2017,Trona Ore (tons),WY,56037,Sweetwater County,W,Onshore,Federal
7554,2017,Gas (mcf),WY,56041,Uinta County,"37,033,060",Onshore,Federal
7555,2017,Oil (bbl),WY,56041,Uinta County,"400,779",Onshore,Federal
7556,2017,Gas (mcf),WY,56043,Washakie County,"501,341",Onshore,Federal
7557,2017,Oil (bbl),WY,56043,Washakie County,"380,864",Onshore,Federal
7558,2017,Gas (mcf),WY,56045,Weston County,"786,319",Onshore,Federal
7559,2017,Oil (bbl),WY,56045,Weston County,"297,876",Onshore,Federal

In [31]:
#data_git = pd.read_csv("cannabis-dataset-git/Dataset/Products/products-kushy_api.2017-11-14.csv")
data_git = pd.read_csv("cannabis-dataset-git/Dataset/Shops/shops-kushy_api.2017-11-14.csv")
data_git.head(1)

,id,status,sort,name,slug,featured_image,avatar,images,gallery,description,...,coupons,deals,rating,tags,twitter,facebook,instagram,tumblr,googleplus,type
0,1,2,0,Wellness Earth Energy Dispensary,wellness-earth-energy-dispensary/,http://kushy.net/wp-content/uploads/2016/10/th...,http://weedporndaily.com/delivery/wp-content/u...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data5 = pd.read_csv("dispensaries.csv")#Permitted Medical Cannabis Dispensaries 
data5

,the_geom,Business_N,Business_T,Business_A,Business_C,Business_S,Business_Z,Business_B,Business_O,Permitting,Location_T,Neighborho,Number_o_3,CV_for_N_1,SqMi,ZIP,ID_2
0,POINT (-122.41941327978273 37.78662965327916),Grass Roots,Medical Cannabis Dispensary,1077 Post St,San Francisco,California,94109,0693017,"Grass Roots Nonprofit Collective, Inc.",SFDPH,Fixed,Tenderloin,532.593654,2.7%,0.392806,94109,1
1,POINT (-122.42987786420763 37.771891944364775),Good Fellows Cannabis Club,Medical Cannabis Dispensary,473 Haight St,San Francisco,California,94117,0859038,Mohamed Khatib,SFDPH,Fixed,Hayes Valley,332.407882,3.0%,0.490392,94117,2
2,POINT (-122.43852349455584 37.776067021942126),BASA,Medical Cannabis Dispensary,1328 Grove St,San Francisco,California,94117,1182005,"Bay Area Safe Alternatives Collective, Inc.",SFDPH,Fixed,Hayes Valley,332.407882,3.0%,0.490392,94117,3
3,POINT (-122.47113174292065 37.780400497045804),Hemp Center (aka Patient Place),Medical Cannabis Dispensary,4811 Geary Blvd,San Francisco,California,94118,1532032F,Kathleen Cappetti,SFDPH,Fixed,Inner Richmond,375.998670,4.6%,0.744058,94118,4
4,POINT (-122.4635424309064 37.72602894819491),1944 Ocean Collective,Medical Cannabis Dispensary,1944 Ocean Ave,San Francisco,California,94127,3281020C,"1944 Ocean, Inc",SFDPH,Fixed,West of Twin Peaks,346.089584,5.2%,3.058418,94127,5
5,POINT (-122.4228656633051 37.77187451788744),Ketama Collective,Medical Cannabis Dispensary,14 Valencia St,San Francisco,California,94103,3503003,"Ketama Cooperative, Inc.",SFDPH,Fixed,Mission,558.857764,2.5%,1.771286,94103,6
6,POINT (-122.41582896751552 37.77471790613143),San Francisco Med Cannabis Clinic,Medical Cannabis Dispensary,122 10th Street,San Francisco,California,94103,3510059,Robert Martin,SFDPH,Fixed,South of Market,413.018159,4.1%,0.884979,94103,7
7,POINT (-122.41529208947188 37.77253161491967),Green Cross,Medical Cannabis Dispensary,230 11th Street,San Francisco,California,94103,3516005,"Bay Area Cross Dispensary, Inc.",SFDPH,Delivery,Mission,558.857764,2.5%,1.771286,94103,8
8,POINT (-122.41654998967951 37.77175941108176),SF Foundation on Going Green,Medical Cannabis Dispensary,211 12th Street,San Francisco,California,94103,3516053,San Francisco Foundation on Going Green,SFDPH,Fixed,Mission,558.857764,2.5%,1.771286,94103,9
9,POINT (-122.42259340458477 37.7685208393546),Valencia Street Caregivers,Medical Cannabis Dispensary,280 Valencia St,San Francisco,California,94103,3533136,280 Valencia Street Caregivers (CASIP),SFDPH,Fixed,Mission,558.857764,2.5%,1.771286,94103,10
10,POINT (-122.42470230658712 37.76813903041374),Love Shack,Medical Cannabis Dispensary,502 14th St,San Francisco,California,94103,3534014,The Love Shack Cooperative,SFDPH,Fixed,Mission,558.857764,2.5%,1.771286,94103,11
11,POINT (-122.42861104731267 37.76732690675256),The Apothecarium,Medical Cannabis Dispensary,2095 Market St,San Francisco,California,94114,3544065,"RHMT, LLC",SFDPH,Fixed,Castro/Upper Market,368.350377,2.6%,0.857180,94114,12
12,POINT (-122.41942392996508 37.76616901981341),Med Thrive Co-op,Medical Cannabis Dispensary,1933 Mission St,San Francisco,California,94103,3553023,"Med Thrive Cooperative, Inc",SFDPH,Fixed,Mission,558.857764,2.5%,1.771286,94103,13
13,POINT (-122.41863058230298 37.75793853636608),Shambala Healing Center,Medical Cannabis Dispensary,2441 Mission St,San Francisco,California,94110,3610026,"Shambala Healing Center, Inc.",SFDPH,Fixed,Mission,558.857764,2.5%,1.771286,94110,14
14,POINT (-122.41927164667725 37.75661589791826),Purple Star MCD Collective,Medical Cannabis Dispensary,2522 Mission St,San Francisco,California,94110,3616061,Purple Star MD Collective,SFDPH,Fixed,Mission,558.857764,2.5%,1.771286,94110,15
15,POINT (-122.41422508161395 37.776960841804296),SPARC,Medical Cannabis Dispensary,1256 Mission St,San Francisco,California,94103,3701008,"Bay Pacific Networks, Inc",SFDPH,Fixed,South of Market,413.018159,4.1%,0.884979,94103,16
16,POINT (-122.41467789309212 37.77655429293632),Re-leaf Herbal,Medical Cannabis Dispensary,1284 Mission St,San Francisco,California,94103,3701022,Re-Leaf Herbal Center,SFDPH,Delivery,South of Market,413.018159,4.1%,0.884979,94103,17
17,POINT (-122.40785922221107 37.78205624539241),Barbary Coast Collective,Medical Cannabis Dispensary,952 Mission St,San Francisco,California,94103,3704017,"BCSF, Inc",SFDPH,Fixed,South of Market,413.018159,4.1%,0.884979,94103,18
18,POINT (-122.40828756775288 37.78194161699519),Bloom Room,Medical Cannabis Dispensary,471 Jessie St,San Francisco,California,94103,3704028,Jessie St. Collective,SFDPH,Fixed,South of Market,413.018159,4.1%,0.884979,94103,19
19,POINT (-122.4004426280976 37.78822651455405),70 Second St,Medical Cannabis Dispensary,70 02nd Street,San Francisco,California,94105,3707009,Seventy Second Street,SFDPH,Fixed,Financial District/South Beach,592.373193,6.4%,1.123584,94105,20
20,POINT (-122.40352783745642 37.78228184866846),"Green Door, the",Medical Cannabis Dispensary,843 Howard St,San Francisco,California,94103,3733082,Soma United Group,SFDPH,Fixed,South of Market,413.018159,4.1%,0.884979,94103,21
21,POINT (-122.39641441032 37.787741576677),Igzactly Health Center,Medical Cannabis Dispensary,527 Howard St,San Francisco,California,94105,3736083,"Igzactly Enterprises, Inc.",SFDPH,Fixed,Financial District/South Beach,592.373193,6.4%,1.123584,94105,22
22,POINT (-122.41865282067124 37.74699804741445),Mission Herbal Care,Medical Cannabis Dispensary,3139 Mission St,San Francisco,California,94110,5501046,"Mission Herbal Care, Inc",SFDPH,Fixed,Bernal Heights,318.067603,4.7%,1.077925,94110,23
23,POINT (-122.42162923100739 37.74382352829187),Bernal Heights Cooperative,Medical Cannabis Dispensary,33 29th St,San Francisco,California,94110,6635051,"Bernal Heights Cooperative, Inc.",SFDPH,Fixed,Bernal Heights,318.067603,4.7%,1.077925,94110,24
24,POINT (-122.43064530711257 37.729774121091744),The Green Cross,Medical Cannabis Dispensary,4218 Mission St,San Francisco,California,94112,6803004,"Bay Area Cross Dispensary, Inc.",SFDPH,Fixed,Outer Mission,244.010246,9.3%,1.004157,94112,25
25,POINT (-122.45896216115463 37.72418825884432),Waterfall Wellness,Medical Cannabis Dispensary,1545 Ocean Ave,San Francisco,California,94112,6936011,Waterfall Wellness Cooperative,SFDPH,Fixed,Oceanview/Merced/Ingleside,257.974805,6.6%,1.053292,94112,26
26,POINT (-122.44217782454592 37.71539174518049),"Tree-Med, Inc",Medical Cannabis Dispensary,5234 Mission St,San Francisco,California,94112,7031002C,"MSMTA, Inc.",SFDPH,Fixed,Outer Mission,244.010246,9.3%,1.004157,94112,27
27,POINT (-122.44241840596547 37.71517896740453),Mission Organics Center,Medical Cannabis Dispensary,5258 Mission St,San Francisco,California,94112,7031003B,"Mission Organics Center, Inc",SFDPH,Fixed,Outer Mission,244.010246,9.3%,1.004157,94112,28

In [33]:
data5 = pd.read_csv("cannabis.csv")#Cannabis Interactive Analysis with NLP
data5

,Strain,Type,Rating,Effects,Flavor,Description
0,100-Og,hybrid,4.0,"Creative,Energetic,Tingly,Euphoric,Relaxed","Earthy,Sweet,Citrus",$100 OG is a 50/50 hybrid strain that packs a ...
1,98-White-Widow,hybrid,4.7,"Relaxed,Aroused,Creative,Happy,Energetic","Flowery,Violet,Diesel",The ‘98 Aloha White Widow is an especially pot...
2,1024,sativa,4.4,"Uplifted,Happy,Relaxed,Energetic,Creative","Spicy/Herbal,Sage,Woody",1024 is a sativa-dominant hybrid bred in Spain...
3,13-Dawgs,hybrid,4.2,"Tingly,Creative,Hungry,Relaxed,Uplifted","Apricot,Citrus,Grapefruit",13 Dawgs is a hybrid of G13 and Chemdawg genet...
4,24K-Gold,hybrid,4.6,"Happy,Relaxed,Euphoric,Uplifted,Talkative","Citrus,Earthy,Orange","Also known as Kosher Tangie, 24k Gold is a 60%..."
5,3-Bears-Og,indica,0.0,None,None,3 Bears OG by Mephisto Genetics is an autoflow...
6,3-Kings,hybrid,4.4,"Relaxed,Euphoric,Happy,Uplifted,Hungry","Earthy,Sweet,Pungent","The 3 Kings marijuana strain, a holy trinity o..."
7,303-Og,indica,4.2,"Relaxed,Happy,Euphoric,Uplifted,Giggly","Citrus,Pungent,Earthy",The indica-dominant 303 OG is a Colorado strai...
8,3D-Cbd,sativa,4.6,"Uplifted,Focused,Happy,Talkative,Relaxed","Earthy,Woody,Flowery",3D CBD from Snoop Dogg’s branded line of canna...
9,3X-Crazy,indica,4.4,"Relaxed,Tingly,Happy,Euphoric,Uplifted","Earthy,Grape,Sweet","Also known as Optimus Prime, the indica-domina..."
10,3Rd-Coast-Panama-Chunk,hybrid,4.7,"Energetic,Happy,Talkative,Uplifted","Pine,Diesel",3rd Coast Panama Chunk by Bedford Grow is a cr...
11,501St-Og,hybrid,4.5,"Relaxed,Euphoric,Sleepy,Happy,Talkative","Earthy,Pine,Skunk","501st OG, bred by Rare Dankness, is an indica-..."
12,5Th-Element,indica,4.4,"Relaxed,Focused,Euphoric,Uplifted,Aroused","Earthy,Woody,Pine",Elemental Seeds crossed Blackberry with All Sp...
13,707-Headband,hybrid,4.3,"Euphoric,Happy,Uplifted,Talkative,Creative","Earthy,Woody,Pungent","This strain emerged from the Humboldt County, ..."
14,8-Ball-Kush,indica,4.3,"Relaxed,Uplifted,Happy,Creative,Euphoric","Citrus,Earthy,Pine","Bred by Barney’s Farm, 8 Ball Kush is a pure i..."
15,818-Og,indica,4.7,"Relaxed,Happy,Euphoric,Giggly,Sleepy","Earthy,Diesel,Flowery",Named after the telephone area code of the San...
16,831-Og,indica,5.0,None,None,"831 OG, aka Santa Cruz OG, is an indica-domina..."
17,9-Pound-Hammer,indica,4.5,"Relaxed,Sleepy,Euphoric,Happy,Hungry","Earthy,Sweet,Berry",9 Pound Hammer is an 80% indica strain that cr...
18,91-Krypt,indica,4.7,"Relaxed,Euphoric,Happy,Hungry,Uplifted","Earthy,Pungent,Berry",91 Krypt by DNA Genetics is a potent strain by...
19,A-10,indica,3.8,"Relaxed,Focused,Happy,Sleepy,Uplifted","Citrus,Pungent,Sweet","A-10 has an earthy, hashy taste that provides ..."
20,A-Dub,hybrid,4.4,"Relaxed,Happy,Euphoric,Uplifted,Sleepy","Diesel,Pepper,Earthy","Coming from the ever-popular Sour Diesel, OG K..."
21,A-Train,hybrid,4.1,"Creative,Euphoric,Relaxed,Happy,Hungry","Earthy,Woody,Citrus",A-Train is a hybrid between Mazar I Sharif and...
22,Acdc,hybrid,4.5,"Relaxed,Happy,Uplifted,Focused,Euphoric","Earthy,Pine,Woody",ACDC is a sativa-dominant phenotype of the hig...
23,Ak-47,hybrid,4.2,"Happy,Relaxed,Uplifted,Euphoric,Energetic","Earthy,Pungent,Woody",Don't let its intense name fool you: AK-47 wil...
24,Ak-48,hybrid,4.0,"Happy,Energetic,Uplifted,Creative,Relaxed","Earthy,Pungent,Citrus","Although it is a hybrid, the AK-48 high leans ..."
25,Aberdeen,hybrid,4.3,"Uplifted,Euphoric,Giggly,Energetic,Sleepy","Menthol,Blue,Cheese,Chemical",Aberdeen is a variety of Agent Orange grown by...
26,Abusive-Og,indica,4.5,"Relaxed,Euphoric,Sleepy,Happy,Giggly","Earthy,Pine,Diesel","A popular Californian cut of OG Kush, Abusive ..."
27,Acapulco-Gold,sativa,4.5,"Happy,Uplifted,Euphoric,Energetic,Relaxed","Earthy,Sweet,Pungent","One of the most well-known strains, Acapulco G..."
28,Ace-Killer-Og,indica,4.8,"Relaxed,Sleepy,Euphoric,Happy,Uplifted","Earthy,Diesel,Spicy/Herbal",Ace Killer OG is an indica strain that boasts ...
29,Ace-Of-Spades,indica,4.1,"Relaxed,Euphoric,Happy,Sleepy,Hungry","Earthy,Sweet,Woody",Ace of Spades is a creation from TGA Subcool S...
...,...,...,...,...,...,...
2321,Wonderwoman-Og,indica,4.0,"Relaxed,Tingly,Euphoric,Aroused,Happy","Flowery,Menthol,Citrus",NaN
2322,Wonka-S-Bubbilicious,hybrid,4.8,"Creative,Hungry,Happy,Euphoric,Focused","Grape,Strawberry,Sweet",A sativa-dominant cross between Pandora's Box ...
2323,Woody-Kush,indica,4.3,"Relaxed,Happy,Euphoric,Sleepy,Hungry","Earthy,Pine,Sweet",Don’t be quick to underestimate Woody Kush. Wh...
2324,Wookie,hybrid,5.0,"Talkative,Euphoric,Relaxed","Berry,Earthy,Skunk",Wookie is a tantalizing cross of Lavender and ...
2325,Wookies,hybrid,4.8,"Happy,Relaxed,Euphoric,Uplifted,Focused","Menthol,Earthy,Pungent",Wookies (not to be confused with the strain “W...
2326,Wreckage,hybrid,4.5,"Uplifted,Relaxed,Focused,Energetic,Talkative","Earthy,Nutty,Sage","Wreckage, bred by T.H. Seeds, is a sativa-domi..."
2327,X-File,hybrid,4.5,"Tingly,Euphoric,Relaxed",None,Not to be confused with the similar-sounding X...
2328,X-Files,hybrid,4.6,"Relaxed,Euphoric,Uplifted,Happy,Aroused","Earthy,Citrus,Lavender","X-Files, bred by Pheno-Type Seeds, is a hybrid..."
2329,X-Wing,indica,4.3,"Relaxed,Sleepy,Focused,Creative,Happy","Earthy,Pungent,Flowery",X-Wing is a mid-level indica-dominant strain w...
2330,X-Tra-Chz,hybrid,4.0,"Sleepy,Uplifted,Euphoric,Happy,Hungry","Pungent,Skunk,Blue,Cheese","X-tra Chz, bred by MTG Seeds, is a hybrid cros..."
2331,Xj-13,hybrid,4.3,"Happy,Euphoric,Relaxed,Uplifted,Creative","Citrus,Sweet,Pine",XJ-13 is a sativa-dominant strain cherished fo...
2332,Xxx-420,indica,4.3,"Relaxed,Focused,Tingly,Talkative,Happy","Sweet,Berry,Grapefruit","XXX 420 from Ontario, Canada is an indica cros..."
2333,Xxx-Og,indica,4.5,"Relaxed,Sleepy,Euphoric,Happy,Uplifted","Pine,Woody,Earthy","XXX OG, from parent strains OG Kush and XXX, i..."
2334,Xanadu,sativa,4.8,"Focused,Happy,Energetic,Talkative,Uplifted","Spicy/Herbal,Pepper,Sweet","Xanadu, named after the extravagant palace of ..."
2335,Y-Griega,sativa,4.8,"Happy,Energetic,Uplifted,Focused,Euphoric","Earthy,Woody,Flowery","Also known as simply “Y,” the 80% sativa Y Gri..."
2336,Yeti-Og,indica,4.6,"Relaxed,Euphoric,Sleepy,Happy,Hungry","Earthy,Pungent,Diesel","Originally known as the Headband BX, Yeti OG w..."
2337,Yoda-Og,indica,4.5,"Relaxed,Uplifted,Sleepy,Happy,Euphoric","Earthy,Skunk,Woody","Yoda OG, a descendant of the legendary OG Kush..."
2338,Yodas-Brain,indica,4.8,"Sleepy,Happy,Aroused,Relaxed,Hungry","Pine,Sage,Flowery",Yoda’s Brain is an indica-dominant cut with de...
2339,Yogi-Diesel,hybrid,4.5,"Uplifted,Euphoric,Tingly,Creative,Happy","Diesel,Citrus,Pine",A pungent mix of Sour Diesel and Northern Ligh...
2340,Yumboldt,indica,4.2,"Relaxed,Happy,Sleepy,Euphoric,Hungry","Spicy/Herbal,Earthy,Sweet",Yumboldt can be hard to find but it is renowne...
2341,Yummy,hybrid,4.2,"Uplifted,Relaxed,Happy,Energetic,Euphoric","Sweet,Earthy,Pungent",Yummy is an indica-dominant hybrid that hails ...
2342,Zamaldelica,sativa,5.0,"Tingly,Uplifted,Energetic",None,Zamaldelica by Ace Seeds is a potent sativa-do...
2343,Zellys-Gift,sativa,5.0,"Happy,Uplifted,Energetic,Relaxed,Euphoric","Sweet,Citrus,Lime",Zelly’s Gift by Dragonfly Earth Medicine is a ...
2344,Zen,hybrid,4.3,"Happy,Energetic,Uplifted,Euphoric,Focused","Earthy,Sweet,Flowery","With a balanced ratio of THC and CBD, Zen is t..."
2345,Zeta-Sage,sativa,4.5,"Happy,Relaxed,Uplifted,Euphoric,Focused","Diesel,Pungent,Sage",Zeta Sage is a sativa-dominant hybrid that com...
2346,Zeus-Og,hybrid,4.7,"Happy,Uplifted,Relaxed,Euphoric,Energetic","Earthy,Woody,Pine",Zeus OG is a hybrid cross between Pineapple OG...
2347,Zkittlez,indica,4.6,"Relaxed,Happy,Euphoric,Uplifted,Sleepy","Sweet,Berry,Grape",Zkittlez is an indica-dominant mix of Grape Ap...
2348,Zombie-Kush,indica,5.0,"Relaxed,Sleepy,Talkative,Euphoric,Happy","Earthy,Sweet,Spicy/Herbal",Zombie Kush by Ripper Seeds comes from two dif...
2349,Zombie-Og,indica,4.4,"Relaxed,Sleepy,Euphoric,Happy,Hungry","Sweet,Earthy,Pungent",If you’re looking to transform into a flesh-ea...
2350,Zoom-Pie,indica,4.6,"Hungry,Relaxed,Uplifted,Happy,Sleepy","Berry,Earthy,Pungent",Zoom Pie (also known as Zombie Pie) is a heavy...